ul{
  margin:0;
  padding:0;
};
ul li{
  margin:0;
  padding:0;
  list-style:none;
};
.service-page{
  width:100%;
  float:left;
  padding:100px 0;
};
.service-title h1{
  font-size:26px;
  margin-top:0;
  color:#febd0e;
  text-transform:uppercase;
  line-height:1.3
};
.service-page .service-left h2{
  position:relative;
  font-weight:500;
  font-size:22px;
  text-transform:uppercase;
  line-height:1.3;
  margin-bottom:20px;
};
.service-page .service-left h2:before{
  height:2px;
  width:43px;
  bottom:-8px;
  position:absolute;
  content:" ";
  background-color:#febd0e
};
.service-page .service-left h3{
  position:relative;
  font-weight:500;
  font-size:22px;
  text-transform:uppercase;
  line-height:1.3;
  margin-bottom:20px;
};
.service-page .service-left h3:before{
  height:2px;
  width:43px;
  bottom:-8px;
  position:absolute;
  content:" ";
  background-color:#febd0e
};
.service-page .service-right .sidebar-box1 h3{
  position:relative;
  margin-bottom:20px
}
.service-page .service-right .sidebar-box1 h3:before{
  content:" ";
  position:absolute;
  height:2px;
  width:50px;
  left:50%;
  bottom:-8px;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  background-color:#febd0e
}
.service-page .h-center h3:before{
  content:" ";
  position:absolute;
  height:2px;
  width:50px;
  left:50%;
  top:35px;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  background-color:#febd0e
}
.service-page .service-right p{
  text-align:justify
}
.service-page .service-left p{
  margin:0 0 20px;
  color:#616161;
  font-size:16px;
  line-height:1.8;
  text-align:justify
}
.service-page .service-left ul li{
  list-style:inside;
  list-style-image:url("../images/arrow.png")
}
.service-page .service-left h5{
  font-weight:700;
  text-decoration:none;
  line-height:24px;
}
.service-page .service-left h5 span{
  padding-right:15px;
  color:#FDB312;
  font-size:16px
};
.service-title small{
  display:block;
  margin-bottom:10px;
  color:#98989a;
  letter-spacing:3px
};
.service-page .link{
  font-weight:700;
  display:inline-block;
  font-size:16px;
  color:#fff;
  text-transform:uppercase;
  background:#febd0e;
  padding:8px 25px;
  margin:30px 0;
  transition:all .3s ease 0;
  padding:10px 20px
};

.service-page .link:hover{
  text-decoration:none;
};

.service-page blockquote{
  border-left:5px solid #FDB312;
  background:#f8f8f8;
  font-size:18px;
  font-weight:500;
  line-height:25px;
  padding:24px 42px;
  position:relative;
  color:#303030
};

.service-page blockquote span{
  color:#FDB312;
};

.grey-bg{
  background-color:#f5f5f5;
};

.empty-space-lg{
  height:80px;
};

.empty-space-sm{
  height:40px;
};

.pad-bottom-0{
  padding-bottom:0px;
};
.pad-top-0{
  padding-top:0px;
};

.divider{
  width:100%;
  float:left;
  padding:100px 0 0 0;
  margin-bottom:88px;
  text-align:center;
}
.divider{
  background-color:rgb(255, 255, 255);
  background-size:cover;
  background-position:
  center center;
  background-attachment:fixed;
}
.divider .divider-para{
  text-align:center;
  font-size:30px;
  line-height:1.6;
  color:#fff;
  margin-bottom:-70px;
}
.divider .divider-img img{
  position:relative;
  top:60px;
}
.monitor-slider{
  width:100%;
  max-width:351px;
  min-height:210px;
  margin:0 auto;
  display:block;
  position:relative;
  background-size:100%;
  padding-top:14px;
  padding-left:17px;
  padding-right:17px;
  padding-bottom:109px;
}
.monitor-slider .webslider{
  width:100%;
  max-width:351px;
  min-height:210px;
}
.monitor-slider .webslider .carousel-indicators{
  bottom:-133px;
  z-index:4;
}
.monitor-slider .webslider .carousel-indicators li{
  border-radius:0;
  width:32px;
  height:15px;
  background-color:#d0d0d0;
}
.monitor-slider .webslider .carousel-indicators .active{
  margin:1px;
  background-color:#FDB312;
}
.our-process-wrap{
  background-size:contain;
  display:table;
  padding:84px 40px 0;
}
.our-process-item{
  text-align:center;
  padding:0 10px;
  display:table-cell;
}
.our-process-item .our-process-content{
  text-align:center;
}
.our-process-item i{
  position:relative;
  background:#fff;
  position:relative;
  color:#52535c;
  font-size:32px;
  display:inline-block;
  clear:both;
  border-radius:50%;
  border:2px solid #f4f3f3;
  -webkit-transition:all .33s ease-in-out;
  transition:all .33s ease-in-out;
  width:120px;
  height:120px;
  text-shadow:none;
  box-shadow:0 2px 0 0 rgba(0,0,0,0.017);
}
.our-process-item i:before{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);
}
.our-process-item:hover i{
  border-color:#7bd1ef;
  color:#00c2e5
}
.our-process-item h4{
  font-size:17px;
  text-transform:uppercase;
  color:#171c24;
  margin:34px 0 25px
}
.our-process-item p{
  font-size:13px!important;
  color:#8a8a8a;
  line-height:1.6;
  padding:0 15px;
  text-align:justify;
}
.process-title small{
  display:inline-block;
  margin-top:10px;
  color:#98989a;
  letter-spacing:3px;
}
@media only screen and (min-width:961px) and (max-width:1280px){
  .our-process-wrap{
    padding-top:55px;
  }
}
@media (min-width:768px) and (max-width:960px){
  .our-process-wrap{
    padding-top:35px;
  }
  .our-process-item:first-child{
    padding-left:10px;
  }
  .our-process-item:last-child{
    padding-right:30px;
  }
  .our-process-item i{
    font-size:32px;
    padding:18px;
  }
  .our-process{height:38px}
  .our-process-item i:after{
    font-size:14px;
    padding:6px;
    width:26px;
    height:26px
  }
}
@media only screen and (max-width:767px){
  .our-process-wrap{
    display:block;
    background-size:contain;
    padding-top:72px
  }
  .our-process-item{
    position:relative;
    display:block;
    padding-bottom:50px
  }
  .our-process-item h4,
  .our-process-item p{
    position:relative;
    background-color:#fff;
    margin-top:18px;
    margin-bottom:0;
    padding:12px 0 15px
  }
  .our-process-item p{
    margin-top:0;
    padding-top:0;
    padding-bottom:24px;
    margin-bottom:0
  }
}

@media only screen and (max-width:480px){
  .our-process-wrap{
    background-size:inherit;
    padding-top:50px;
    background-position:top;
    padding-left:0;
    padding-right:0
  }
}
.section-dash-yellow{border:0 none;
  border-top:5px dotted #febd0e;
  background:none;
  height:0;
  width:25px
}
.section-dash-yellow-left{
  border:0 none;
  border-top:5px dotted #febd0e;
  background:none;
  height:0;
  width:25px;
  margin:20px 0
}
.section-dash-white{
  border:0 none;
  border-top:5px dotted #FFF;
  background:none;
  height:0;
  width:25px;
}
.section-dash-white-left{
  border:0 none;
  border-top:5px dotted #FFF;
  background:none;
  height:0;
  width:25px;
  margin:20px 0
}
.success{
  padding:1em;
  margin-bottom:0.75rem;
  text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
  color:#468847;
  background-color:#dff0d8;
  border:1px solid #d6e9c6;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
.error{
  padding:1em;
  margin-bottom:0.75rem;
  text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
  color:#b94a48;
  background-color:#f2dede;
  border:1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
.btn-custom{
  font-size:15px;
  font-weight:600;
  text-transform:uppercase;
  background:#febd0e;
  color:#fff;
  transition:all ease 0.4s;
  height:36px;
}
.btn-custom:hover{
  text-decoration:none;
  background:#00cadf;
  color:#fff;
}
@import url("http://fonts.googleapis.com/css?family=Raleway:400,500,300,700");
@import url("http://fonts.googleapis.com/css?family=Pacifico");

.list-social{
    color: #fff;
    font-size: 22px;
}
.list-social li{
    padding:0;
}
.list-social li a{
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 30px;
  padding: 1px;
  text-align: center;
  width: 30px;
  margin-right: 2px;
}
.list-social li a:hover i{
  transition: all ease 0.4s;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.list-social li#fb a{
	background: #3864a3;
}
.list-social li#tw a{
	background: #32cdfd;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/*popup css updated on 23-Nov-17*/

.modal-header {
    padding: 15px;
    text-align: center;
    border-bottom: none;
    font-family: 'Raleway', sans-serif;
    color: #5340a4;
    font-size: 22px;
    width: 100%;
    display: inline-block;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-title{
    font-size: 1.3em;
    font-weight: 600;
}
.modal-start-para{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: inline-block;
}

.modal-body .form-control{
    margin-bottom: 10px;
}
#myModal .btn-default{
    border:2px solid transparent;
    background: #00cadf;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    outline: none;
}
#myModal .btn-default:hover, #myModal .btn-default:focus{
    border:2px solid #00cadf;
    background: transparent;
    color: #00cadf;
    font-family: 'Raleway', sans-serif;
    transition: all .3s ease-in-out;
    outline: none;
}
/* Floating Social Media Bar Style Starts Here */
.float-sm .fl-fl {
  background: #00cadf;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -160px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.float-sm .fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.float-sm .fl-fl:hover {
  right: 0;
}

.float-sm .fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-sm .float-fb {
  top: 160px;
}

.float-sm .float-tw {
  top: 215px;
}

.float-sm .float-gp {
  top: 270px;
}

.float-sm .float-rs {
  top: 325px;
}

.float-sm .float-ig {
  top: 380px;
}

.float-sm .float-pn {
  top: 435px;
}

.navbar-default {
    height: 85px;
    padding-top: 4px;
    border-radius: 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.navbar-default.fixed-nav{
	background:rgba(255,255,255,0.92) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .28);
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
    transition: all 0.4s ease;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    font-weight: 700;
}
.navbar-default.fixed-nav .navbar-nav > li > a {
        color: #febd0e;    
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    border-bottom: 3px solid #fff;
    color: #fff;
    background-color: #FDB312;
}
.navbar-default .navbar-nav>li>a.hamburger-menu {
    margin-top: 20px;
    float: left;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    -webkit-animation: tada 2s 0.5s infinite;
    animation: tada 2s 0.5s infinite;
    background: #00cadf;
}
.navbar-default .dropdown-menu {
        margin-right: -8px;
    background: #00cadf;
    color: #fff;
    box-shadow: none;
    border-radius: 0;
    border: 2px solid #fff;
}
.navbar-default .navbar-nav>li:hover .dropdown-menu{display:block;}
.navbar-default .dropdown-menu li {
    border-bottom: 1px solid #fff;
}
.navbar-default .dropdown-menu li a {
    color: #fff;
    font-weight: 700;
    border: none !important;
    transition: all ease 0.4s;
}
.navbar-default .dropdown-menu li a:hover, .navbar-default .dropdown-menu li a:focus {
    padding-right: 30px;
    background: #FDB312;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
        background-color: #fdca0f;
    background-image: none;
    border: 1px solid #ffffff;
    border-radius: 4px; 
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
      background-color: #fbe53a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

@media (max-width : 460px) {

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: transparent;
	    background: #ffc80f;
	        margin-top: 15px;
	}
	.navbar-default.fixed-nav .navbar-nav > li > a {
        color: #fff;    
	}

	
}

/*
* e-commerce page
*/
.bg-icegrey{
	background: #f5f6fb;
}
.about-ecommerce{
	font-family: 'Raleway', sans-serif;

}
.about-ecommerce .h3{
	display: block;
	width: 100%;
	    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}
.about-ecommerce p{
	    font-size: 14px;
	    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    word-spacing: 0.2px;
}
.our-features{
	font-family: 'Raleway', sans-serif;
	padding: 50px 0;
	position: relative;
	display: block;
	clear: both;
}
.our-features .clearfix{
  margin-top: 30px;
}

.our-features .h3-title{
	    width: 100%;
	    display: block;
    text-align: center;
    color: #000;
    font-size: 30px;
    margin-bottom: 15px;
}
.our-features .h3-title > span{
	display: inline-block;
    font-weight: 700;
}
.our-features p{
	font-size: 16px;
	line-height: 22px;
	color: #000;
	font-weight: 400;
}
.our-features .box-feature{
	padding: 20px 15px;
	background: #fff;
	border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.our-features .box-feature img{
	margin-bottom: 20px;
}
.our-features .box-feature h4{
	    font-size: 22px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
}
.our-features .box-feature p{
	    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.how-it-works{
	font-family: 'Raleway', sans-serif;
	padding: 50px 0;
	position: relative;
	display: block;
	clear: both;
	background: #ebebeb;
  background-size: cover;
  background-repeat: no-repeat;
}
.how-it-works .h3-title{
	    width: 100%;
	    display: block;
    text-align: center;
    color: #000;
    font-size: 30px;
    margin-bottom: 15px;
}
.how-it-works .h3-title > span{
	display: inline-block;
    font-weight: 700;
}
.how-it-works h4{
	    font-size: 22px;
   text-transform: uppercase;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}
.how-it-works p{
	    font-size: 12px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
    letter-spacing: 0.7px;
}
.ecommerce-portfolio{
	font-family: 'Raleway', sans-serif;
	padding: 50px 0;
	position: relative;
	display: block;
	clear: both;
	background: #fff;
}
.ecommerce-portfolio  .clearfix{
  margin-bottom: 30px;
}
.ecommerce-portfolio .h3-title{
	    width: 100%;
	    display: block;
    text-align: center;
    color: #000;
    font-size: 30px;
    margin-bottom: 15px;
}
.ecommerce-portfolio .h3-title > span{
	display: inline-block;
    font-weight: 700;
}
.ecommerce-portfolio p{
	    font-size: 14px;
	    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    word-spacing: 0.2px;
}
.ecommerce-portfolio .portfolio-box{
	position: relative;
	border: 1px solid #bcbcbc;
	box-shadow: 0 0 7px 5px rgba(184, 184, 184, .42);
	margin-bottom: 20px;
}
.cta-ecommerce{
	font-family: 'Raleway', sans-serif;
	margin: 100px 0;
	position: relative;
	display: block;
	clear: both;
	background: #4f0d54;
}
.cta-ecommerce .clearfix{
  margin-top: 50px;
}
.cta-ecommerce .demo-container img{
	  position: relative;
    transform: scale(1.2,1.2);
    margin-left: -65px;
    margin-right: 20px;
}
@media (max-width : 460px) {
	.cta-ecommerce{
		margin: 0;
		padding: 100px 0; 
	}
	.cta-ecommerce .demo-container img{
	    transform: unset;
	    margin-left: 0;
	    margin-right: 0;
	}

}
.cta-ecommerce .btn-quoteYellow{
	background: #fdca0f;
	color: #fff;
	font-weight: 600;
	border-radius: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.cta-ecommerce .btn-quoteYellow:hover,
.cta-ecommerce .btn-quoteYellow:focus{
	background: #fff;
	color: #fdca0f;
	transition: all 0.5s ease;
}
.cta-ecommerce .h3-title{
	width: 100%;
	display: block;
    color: #fff;
    font-size: 26px;
    margin-bottom: 15px;
}
.cta-ecommerce .h3-title > span{
	display: inline-block;
    font-weight: 700;
}
.cta-ecommerce p{
	font-size: 16px;
	font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.2px;
    word-spacing: 0.2px;
    color: #fff;
}
.ecommerce-pricing{
	position: relative;
	clear: both;
	padding: 100px 0;
}
.ecommerce-pricing .clearfix{
  margin-bottom: 20px;
}
.ecommerce-pricing .h3-title{
	width: 100%;
	display: block;
	text-align: center;
    color: #000;
    font-size: 30px;
    margin-bottom: 15px;
}
.ecommerce-pricing .h3-title > span{
	display: inline-block;
    font-weight: 700;
}
.ecommerce-pricing .navPills-custom li:not(:first-child) a{
	border-left: 0;
}
.ecommerce-pricing .navPills-custom li a{
	background: #f4f4f4;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 0;
}
.ecommerce-pricing .navPills-custom li.active a,
.ecommerce-pricing .navPills-custom li a:hover,
.ecommerce-pricing .navPills-custom li a:focus{
	background: #00cadf;
	color: #000;
	transition: all 0.5s ease;
}

.chartEcom{
	position: relative;
	margin-bottom: 20px;
	box-shadow: 0 0 5px 5px rgba(184,184,184,.42);
	border: 1px solid #bcbcbc; 
}
.chartEcom .chartEcom-header{
	padding: 15px 10px;
	background: #f4f4f4;
	min-height: 107px;
}
.chartEcom.active .chartEcom-header, 
.chartEcom .chartEcom-header:hover, 
.chartEcom .chartEcom-header:focus{
	padding: 15px 10px;
	background: #febd0e;
}
.chartEcom .chartEcom-header p{
	text-align: center;
    margin-bottom: 0;
}
.chartEcom .chartEcom-header .chartEcom-package{
	color: #000;
	font-size: 24px;
	font-weight: 400;
	display: block;
	width: 100%;
	text-align: center;

}
.chartEcom .chartEcom-header .chartEcom-packageprice{
	/*margin-top: 10px;*/
	color: #000;
	font-size: 20px;
	font-weight: 400;
	display: block;
	width: 100%;
	text-align: center;
}
.chartEcom .chartEcom-header .chartEcom-packageprice strong{
	color: #000;
	font-size: 30px;
	font-weight: 700;
}
.chartEcom-content ul li{
	padding: 15px 10px;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	border-bottom: 1px solid #ebebeb;
}
.chartEcom-content ul li span{
	display: block;	
	width: 	100%;
	text-align: center;
}
.chartEcom-content ul li span i{
	color: #8CD02D;
}
.chartEcom-content ul li span.item-desc{
	font-weight: 700;
}
.chartEcom-footer{
	padding: 25px 10px;
	text-align: center;
}
.chartEcom-footer .quote-link{
	text-transform: uppercase;
	text-decoration: none;
	background: #fdca0f;
	padding: 8px 15px;
	font-weight: 400;
	color: #fff;
}
.chartEcom-footer .quote-link:hover,
.chartEcom-footer .quote-link:focus{
	background: #fdca0f;
	color: #fff;
	transition: all .5s ease;
}
.desktop-view {
	position: relative;
	/*overflow: hidden;*/
}
.desktop-view .chartEcom{
	box-shadow: none;
	border: 1px solid #ebebeb; 
}
.desktop-view .no-gutters{
	padding: 0;
}
.desktop-view .col-md-2,
.desktop-view .col-sm-2{
	width: 20%;
}
.desktop-view .chartEcom .chartEcom-header p{
	font-size: 12px;
}
.chartEcom:hover .chartEcom-header,
.chartEcom:focus .chartEcom-header{
	background-color: #febd0e;
	color: #fff;
	transition: all 0.5s ease;
}
.chartEcom:hover .chartEcom-header .chartEcom-package,
.chartEcom:hover .chartEcom-header .chartEcom-packageprice,
.chartEcom:focus .chartEcom-header .chartEcom-package,
.chartEcom:focus .chartEcom-header .chartEcom-packageprice {
	color: #fff;
	transition: all 0.5s ease;
}
.chartEcom:hover .chartEcom-content ul li,
.chartEcom:focus .chartEcom-content ul li{
	background-color: #f8f8f8;
	transition: all 0.5s ease;
}

@media (max-width : 460px) {
	.ecommerce-pricing .navPills-custom li:not(:first-child) a{
		border-left: 1px solid #bcbcbc;
	}
	.ecommerce-pricing .navPills-custom li a{
		margin-bottom: 5px;
	}
}