
{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style" : 0,
    "react/jsx-indent":0,
    "react/jsx-indent-props":0,
    "react/style-prop-object":0,
    "react/jsx-curly-brace-presence":0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/anchor-has-content": 0,
    "react/jsx-wrap-multilines": 0,
    "import/no-named-as-default": 0,
    "arrow-body-style": 0,
    "no-alert": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}

// <div className="wpb_column vc_column_container vc_col-sm-8 vc_col-has-fill">
// <div className="vc_column-inner vc_custom_1586596211309">
//   <div className="wpb_wrapper">
//     <div className="qode-advanced-tabs qode-advanced-tabs qode-advanced-horizontal-tab clearfix qode-advanced-tab-without-icon qode-advanced-tabs-column-2 clearfix ui-tabs ui-widget ui-widget-content ui-corner-all">
//       <ul
//         className="qode-advanced-tabs-nav ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
//         role="tablist"
//       >
//         <li
//           className="ui-state-default ui-corner-top ui-tabs-active ui-state-active"
//           role="tab"
//           tabindex="0"
//           aria-controls="tab-time-material-94"
//           aria-labelledby="ui-id-1"
//           aria-selected="true"
//           aria-expanded="true"
//         >
//           <h5>
//             <a
//               href="#tab-time-material-94"
//               className="ui-tabs-anchor"
//               role="presentation"
//               tabindex="-1"
//               id="ui-id-1"
//             >
//               <span className="qode-advanced-tab-text-after-icon">
//                 Time &amp; Material{" "}
//               </span>
//             </a>
//           </h5>
//         </li>
//         <li
//           className="ui-state-default ui-corner-top"
//           role="tab"
//           tabindex="-1"
//           aria-controls="tab-fixed-time-fixed-price-179"
//           aria-labelledby="ui-id-2"
//           aria-selected="false"
//           aria-expanded="false"
//         >
//           <h5>
//             <a
//               href="#tab-fixed-time-fixed-price-179"
//               className="ui-tabs-anchor"
//               role="presentation"
//               tabindex="-1"
//               id="ui-id-2"
//             >
//               <span className="qode-advanced-tab-text-after-icon">
//                 Fixed Time &amp; Fixed Price
//               </span>
//             </a>
//           </h5>
//         </li>
//       </ul>
//       <div
//         className="qode-advanced-tab-container ui-tabs-panel ui-widget-content ui-corner-bottom"
//         id="tab-time-material-94"
//         data-icon-pack=""
//         data-icon-html=""
//         aria-labelledby="ui-id-1"
//         role="tabpanel"
//         aria-hidden="false"
//       >
//         <div className="q_elements_holder two_columns eh_two_columns_66_33 responsive_mode_from_768">
//           <div
//             className="q_elements_item"
//             data-animation="no"
//             data-item-className="q_elements_holder_custom_820303"
//           >
//             <div className="q_elements_item_inner">
//               <div className="q_elements_item_content q_elements_holder_custom_820303">
//                 <div className="wpb_text_column wpb_content_element">
//                   <div className="wpb_wrapper">
//                     <p className="dev-engaze-para">
//                       Such an approach works best for ongoing
//                       projects, best suitable for small to mid-sized
//                       businesses that require complex tasks such as
//                       troubleshooting and debugging, technical
//                       maintenance and support.
//                     </p>
//                   </div>
//                 </div>
//                 <div className="vc_empty_space">
//                   <span className="vc_empty_space_inner">
//                     <span className="empty_space_image"></span>
//                   </span>
//                 </div>
//                 <div className="wpb_text_column wpb_content_element">
//                   <div className="wpb_wrapper">
//                     <p className="dev-engaze-para">
//                       In order to provide you with best work and
//                       flexible solutions, we start off Time &amp;
//                       Material approach by estimating the cost of
//                       specific tasks and agree on the milestones to
//                       be set. This helps us to achieve solutions
//                       fast and effectively.
//                     </p>
//                   </div>
//                 </div>
//               </div>
//             </div>
//           </div>
//           <div
//             className="q_elements_item"
//             data-animation="no"
//             data-item-className="q_elements_holder_custom_954069"
//           >
//             <div className="q_elements_item_inner">
//               <div className="q_elements_item_content q_elements_holder_custom_954069">
//                 <div className="q_icon_with_title tiny custom_icon_image left_from_title">
//                   <div className="icon_text_holder">
//                     <div className="icon_text_inner">
//                       <div className="icon_title_holder">
//                         <div className="icon_holder">
//                           <img
//                             src="..images/web-development/engagement-type-icons.png"
//                             alt=""
//                           />
//                         </div>
//                         <h4 className="icon_title">
//                           No hidden cost
//                         </h4>
//                       </div>
//                       <p></p>
//                     </div>
//                   </div>
//                 </div>
//                 <div className="q_icon_with_title tiny custom_icon_image left_from_title">
//                   <div className="icon_text_holder">
//                     <div className="icon_text_inner">
//                       <div className="icon_title_holder">
//                         <div className="icon_holder">
//                           <img
//                             src="../images/web-development/engagement-prices.png"
//                             alt=""
//                           />
//                         </div>
//                         <h4 className="icon_title">
//                           Monthly billing
//                         </h4>
//                       </div>
//                       <p></p>
//                     </div>
//                   </div>
//                 </div>
//                 <div className="q_icon_with_title tiny custom_icon_image left_from_title">
//                   <div className="icon_text_holder">
//                     <div className="icon_text_inner">
//                       <div className="icon_title_holder">
//                         <div className="icon_holder">
//                           <img
//                             src="../images/web-development/engagement.png"
//                             alt=""
//                           />
//                         </div>
//                         <h4 className="icon_title">
//                           Pay only for measurable work
//                         </h4>
//                       </div>
//                       <p></p>
//                     </div>
//                   </div>
//                 </div>
//                 <div className="q_icon_with_title tiny custom_icon_image left_from_title">
//                   <div className="icon_text_holder">
//                     <div className="icon_text_inner">
//                       <div className="icon_title_holder">
//                         <div className="icon_holder">
//                           <img
//                             src="../images/web-development/project-types.png"
//                             alt=""
//                           />
//                         </div>
//                         <h4 className="icon_title">No setup fee</h4>
//                       </div>
//                       <p></p>
//                     </div>
//                   </div>
//                 </div>
//               </div>
//             </div>
//           </div>
//         </div>
//       </div>
//       <div
//         className="qode-advanced-tab-container ui-tabs-panel ui-widget-content ui-corner-bottom"
//         id="tab-fixed-time-fixed-price-179"
//         data-icon-pack=""
//         data-icon-html=""
//         aria-labelledby="ui-id-2"
//         role="tabpanel"
//         aria-hidden="true"
//       >
//         <div className="q_elements_holder two_columns eh_two_columns_66_33 responsive_mode_from_768">
//           <div
//             className="q_elements_item"
//             data-animation="no"
//             data-item-className="q_elements_holder_custom_547795"
//           >
//             <div className="q_elements_item_inner">
//               <div
//                 className="q_elements_item_content q_elements_holder_custom_547795"
//               >
//                 <div className="wpb_text_column wpb_content_element">
//                   <div className="wpb_wrapper">
//                     <p
//                       className="dev-engaze-para"
                     
//                     >
//                       With being a low risk model, it is also better
//                       for startups and businesses with clear
//                       requirements. We define the budget and time
//                       beforehand and work accordingly; along with
//                       providing MVP so all the setbacks are resolved
//                       before the real launch.
//                     </p>
//                   </div>
//                 </div>
//                 <div
//                   className="vc_empty_space"
//                 >
//                   <span className="vc_empty_space_inner">
//                     <span className="empty_space_image"></span>
//                   </span>
//                 </div>
//                 <div className="wpb_text_column wpb_content_element">
//                   <div className="wpb_wrapper">
//                     <p
//                       className="dev-engaze-para"
//                     >
//                       This approach works best for long-term
//                       projects such as developing a website or
//                       mobile applications from scratch.
//                     </p>
//                   </div>
//                 </div>
//               </div>
//             </div>
//           </div>
//           <div
//             className="q_elements_item"
//             data-animation="no"
//             data-item-className="q_elements_holder_custom_194956"
//           >
//             <div className="q_elements_item_inner">
//               <div
//                 className="q_elements_item_content q_elements_holder_custom_194956"
//               >
//                 <div className="q_icon_with_title tiny custom_icon_image left_from_title">
//                   <div className="icon_text_holder">
//                     <div className="icon_text_inner">
//                       <div className="icon_title_holder">
//                         <div className="icon_holder">
//                           <img src="../images/web-development/mvp.png" alt="" />
//                         </div>
//                         <h4 className="icon_title">
//                           We render MVP
//                         </h4>
//                       </div>
//                       <p></p>
//                     </div>
//                   </div>
//                 </div>
//                 <div className="q_icon_with_title tiny custom_icon_image left_from_title">
//                   <div className="icon_text_holder">
//                     <div className="icon_text_inner">
//                       <div className="icon_title_holder">
//                         <div className="icon_holder">
//                           <img src="../images/web-development/time-frame.png" alt="" />
//                         </div>
//                         <h4 className="icon_title">
//                           Defined time frames
//                         </h4>
//                       </div>
//                       <p></p>
//                     </div>
//                   </div>
//                 </div>
//                 <div className="q_icon_with_title tiny custom_icon_image left_from_title">
//                   <div className="icon_text_holder">
//                     <div className="icon_text_inner">
//                       <div className="icon_title_holder">
//                         <div className="icon_holder">
//                           <img src="../images/web-development/no-changes.png" alt="" />
//                         </div>
//                         <h4 className="icon_title">
//                           Require no change
//                         </h4>
//                       </div>
//                       <p></p>
//                     </div>
//                   </div>
//                 </div>
//                 <div className="q_icon_with_title tiny custom_icon_image left_from_title">
//                   <div className="icon_text_holder">
//                     <div className="icon_text_inner">
//                       <div className="icon_title_holder">
//                         <div className="icon_holder">
//                           <img src="../images/web-development/upgrade.png" alt="" />
//                         </div>
//                         <h4 className="icon_title">
//                           Upgrade or cancel any time
//                         </h4>
//                       </div>
//                       <p></p>
//                     </div>
//                   </div>
//                 </div>
//               </div>
//             </div>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
// </div>