.home{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (max-width:760px){
  .home {
      margin: 0;
      padding: 0;
  }
}
.intro-content {
    height: 100vh;
    display: flex;
  }
.intro-content .intro-img{
  width: 100%;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  align-content: space-between;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.about .hero-img img{
  display: flex;
   margin-left: 66%;
  float: left;
  width: 40%;
  padding: 0;
  margin-top: 40px;
}
.hero-img .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
0% {
  transform: translateY(10px);
}
100% {
  transform: translateY(-10px);
}
}

@keyframes up-down {
0% {
  transform: translateY(10px);
}
100% {
  transform: translateY(-10px);
}
}

.box div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255,255,255,0.8);
  animation: animate 20s linear infinite;
  bottom: -150px;
}
.box div:nth-child(1){
  left: 86%;
  width: 80px;
  height:80px;
  animation-delay:2s;
}
.box div:nth-child(2){
  left: 12%;
  width: 30px;
  height:30px;
  animation-delay:1.5s;
  animation-duration: 10s;
}
.box div:nth-child(3){
  left: 76%;
  width: 100px;
  height:100px;
  animation-delay:5.5s;
}
.box div:nth-child(4){
  left: 42%;
  width: 150px;
  height:150px;
  animation-delay:0s;
  animation-duration: 15s;
}
.box div:nth-child(5){
  left: 65%;
  width: 40px;
  height:40px;
  animation-delay:0s;
}
.box div:nth-child(6){
  left: 15%;
  width: 110px;
  height:110px;
  animation-delay:35s;
}
.box div:nth-child(7){
  left: 86%;
  width: 80px;
  height:80px;
  animation-delay:5.5s;
  animation-duration: 15s;
}
.box div:nth-child(8){
  left: 86%;
  width: 80px;
  height:80px;
  animation-delay:0s;
  animation-duration: 15s;
}
.box div:nth-child(9){
  left: 86%;
  width: 80px;
  height:80px;
   animation-delay:5.5s;
}
.box div:nth-child(10){
  left: 86%;
  width: 80px;
  height:80px;
  animation-delay:5s;
  animation-duration: 15s;
}
@keyframes animate{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
    100%{
      transform: translateY(-800px) rotate(360deg);
      opacity: 0;
    }
}

@media(max-width:760px){
  .about-img .img{
    margin-left: 60%;
    // margin: 0;
    padding: 0;
    width: 40%;
  }
}
@media(max-width:1024px){
  .about-img .img{
    margin-left: 60%;
    padding: 0;
    width: 40%;
  }
}

.about .about-IT {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}
.about-IT h4{
  display: flex;
  color: #fff;
  font-size: 30px;
  margin-top: -40%;
}
@media(max-width:760px){
  .about-IT h4{
    margin: 0;
    padding: 0;
    margin-top: -50%;
  }
}

 .about .about-IT p {
  padding: 0;
  display: flex;
  margin-left: 20px;
  line-height: 26px;
  font-size: 18px;
  color: #fff;
 }
 @media(max-width:760px){
  .about .about-IT p{
    // margin: 0;
    padding: 0;
    margin-left: 30%;
    width:110%;
    // margin-top: 80%;
  }
}
 .about .about-IT p:last-child {
  margin-bottom: 0;
}

.about-IT .more-link {
  border: 1px solid #02b8dd;
  color: #02b8dd;
  padding: 6px 20px;
  border-radius: 3px;
  text-decoration: none;
}

.about-IT .more-link:hover {
  background-color:  #004a80;
  color: #fff;
}
.service-page{
  width:100%;
  float:left;
  padding:100px 0;
  background-color:#d5d4d4; 
}
.service-title h1{
  font-size:26px;
  margin-top:0;
  color:#4a6c9f;
  text-transform:uppercase;
  line-height:1.3
}
.service-page .service-left h2{
  position:relative;
  font-weight:500;
  font-size:22px;
  text-transform:uppercase;
  line-height:1.3;
  color: #4a6c9f;
  margin-bottom:20px;
}
.service-page .service-left h2:before{
  height:2px;
  width:43px;
  bottom:-8px;
  position:absolute;
  content:" ";
  background-color:#4a6c9f;
}
.service-page .service-left h3{
  position:relative;
  font-weight:500;
  font-size:22px;
  text-transform:uppercase;
  line-height:1.3;
  margin-bottom:20px;
}
.service-page .service-left h3:before{
  height:2px;
  width:43px;
  bottom:-8px;
  position:absolute;
  content:" ";
  background-color:#4a6c9f;
}
.service-page .service-right .sidebar-box1 h3{
  position:relative;
  margin-bottom:20px
}
.service-page .service-right .sidebar-box1 h3:before{
  content:" ";
  position:absolute;
  height:2px;
  width:50px;
  left:50%;
  bottom:-8px;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  background-color:#febd0e
}
.service-page .h-center h3:before{
  content:" ";
  position:absolute;
  height:2px;
  width:50px;
  left:50%;
  top:35px;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  background-color:#febd0e
}
.service-page .service-right p{
  text-align:justify
}
.service-page .service-left p{
  margin:0 0 20px;
  color:black;
  font-size:16px;
  line-height:1.8;
  text-align:justify
}
.service-page .service-left h5{
  font-weight:700;
  text-decoration:
  none;line-height:24px;
}
.service-page .service-left h5 span{
  padding-right:15px;
  color:#FDB312;
  font-size:16px
}
.service-title small{
  display:block;
  margin-bottom:10px;
  color:#98989a;
  letter-spacing:3px
}
.service-page .link{
  font-weight:700;
  display:inline-block;
  font-size:16px;
  color:#fff;
  text-transform:uppercase;
  background:#febd0e;
  padding:8px 25px;
  margin:30px 0;
  transition:all .3s ease 0;
  padding:10px 20px
}
.service-page .link:hover{
  text-decoration:none
}
.service-page blockquote{
  border-left:5px solid #FDB312;
  background:#f8f8f8;
  font-size:18px;
  font-weight:500;
  line-height:25px;
  padding:24px 42px;
  position:relative;
  color:#303030
}
.service-page blockquote span{
  color:#FDB312
}
.testimonial-more {
  border-left: 5px solid #004a80;
  background: #f8f8f8;
  line-height: 25px;
  padding: 24px 42px;
  position: relative;
  color: #303030;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
.testimonial-more .fa-quote-left {
  color: #004a80;
  padding: 10px;
}
.testimonial-more .fa-quote-right {
  color: #004a80;
  padding: 10px;
}
.testimonial-mores h4 {
  line-height: 30px;
}

/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #004a80;
  bottom: 0;
  left: calc(50% - 20px);
}


 
